AMBench2022/MetadataModel/model/xsd/AMBuild.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:include schemaLocation="AMReference.xsd" />
  <!-- ================================= -->
  <!-- Artifact -->
  <!-- ================================= -->
  <xs:complexType name="PhysicalArtifact">
    <xs:complexContent>
      <xs:extension base="AMResource">
        <xs:sequence>
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo>
                <label>Date the artifact was created or acquired</label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="location" type="xs:string" maxOccurs="1" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <label>Location of the artifact </label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="processingSteps" type="ProcessingSteps" minOccurs="0" maxOccurs="1" />

          <!-- TEMPORARY -->
          <!-- <xs:element name="responsibleParty" type="TEMPResponsibleParty" minOccurs="0" maxOccurs="unbounded"/> -->
          <!-- END TEMPORARY -->

        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AMBuildProduct" abstract="true">
    <xs:complexContent>
      <xs:extension base="PhysicalArtifact">
        <xs:sequence>
          <xs:element name="benchmarkId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <label>The PID of the benchmark document for whihc this product was built.</label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:appinfo>
                <label>Status of the build product.</label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="purpose" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:appinfo>
                <label>What was the prupose for which this build product was created?</label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="designDiagram" type="DesignDiagramRef" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:appinfo>
                <label>Label in a design document that illustrates, maybe defines, the current build product.</label>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <!-- SUGGESTION: REMOVE THIS, REPLACE WITH FREE FORM TEXT STRING -->
  <xs:simpleType name="BuildProductPurpose">
    <xs:restriction base="xs:string">
      <xs:enumeration value="XRD Residual Strain" />
      <xs:enumeration value="Neutron Residual Strain" />
      <xs:enumeration value="Deflection" />
      <xs:enumeration value="XRCT" />
      <xs:enumeration value="APS Microstructure" />
      <xs:enumeration value="As-built Lab Microstructure" />
      <xs:enumeration value="Annealed Lab Mircrostructure " />
      <xs:enumeration value="Confocal Microscopy" />
      <xs:enumeration value="Cross-Section characterization" />
      <xs:enumeration value="Macroscale Tensile Tests" />
      <xs:enumeration value="Mini Tensile Test" />
      <xs:enumeration value="Meso Tensile Test" />
      <xs:enumeration value="Compression Tests" />
      <xs:enumeration value="Serial Sectioning" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DesignDiagramRef">
    <xs:sequence>
      <xs:element name="designDiagram" type="xs:anyURI">
        <xs:annotation>
          <xs:appinfo>
            <label>Access URL of a blob containing the design diagram.</label>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================== -->
  <!-- BUILD PLATE, result of a BUILD PROCESS -->
  <!-- ============================================== -->
  <!-- Lot Number is to be defined in buildProcess -->
  <xs:complexType name="AMBuildPlate">
    <xs:complexContent>
      <xs:extension base="AMBuildProduct">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="partDefinition" type="PartDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PartDefinition">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="partType" type="PartType" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PartType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PART" />
      <xs:enumeration value="GUIDEWING" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>

  <!-- =========================================== -->
  <!-- Build Part -->
  <!-- =========================================== -->
  <xs:complexType name="BuildPart">
    <xs:complexContent>
      <xs:extension base="AMBuildProduct">
        <xs:sequence>
          <xs:element name="buildPlateId" type="xs:anyURI" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation> PID of the Build Plate this Part was extracted from.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="partLabel" type="xs:string" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation> Label identifying the part in the build plate it was extracted from.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- =========================================================================== -->
  <!-- SPECIMEN and PART -->
  <!-- =========================================================================== -->
  <xs:complexType name="Specimen">
    <xs:complexContent>
      <xs:extension base="AMBuildProduct">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:sequence>
              <xs:element name="buildPlateId" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> PID of the Build Plate this Specimen was ultimately extracted from.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="buildPartId" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> PID of the Build Part this Specimen was extracted from.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:sequence>
              <xs:element name="materialId" type="xs:anyURI" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation> PID of the Material this Specimen was extracted from.
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ===================================================== -->
  <!-- POWDER, a MATERIAL -->
  <!-- ===================================================== -->
  <xs:complexType name="Powder">
    <xs:complexContent>
      <xs:extension base="PhysicalArtifact">
        <xs:sequence>
          <xs:element name="supplier" type="xs:string" minOccurs="0" />
          <xs:element name="lotNumber" type="xs:string" minOccurs="0" />
          <xs:element name="alloyPowderType" type="AlloyDesignation" minOccurs="0" />
          <xs:element name="usageType" type="PowderUsageType" minOccurs="0" />
          <xs:element name="atomizationType" type="PowderAtomizationType" minOccurs="0" />
          <xs:element name="nominalComposition" type="Composition" minOccurs="0" />
          <xs:element name="nominalPowderSizeDistribution" type="PowderSizeDistribution" minOccurs="0" />
          <xs:element name="powderSpecsFile" type="DigitalArtifact" maxOccurs="unbounded" minOccurs="0" />
          <xs:element name="additionalSupplierInfo" type="Note" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Material">
    <xs:complexContent>
      <xs:extension base="PhysicalArtifact">
        <xs:sequence>
          <xs:element name="source" type="xs:string" minOccurs="0" />
          <xs:element name="type" type="xs:string" minOccurs="0" />
          <xs:element name="specifications" type="xs:string" minOccurs="0" />
          <xs:element name="providedCharacterization" type="DigitalArtifact" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
    
  <xs:complexType name="ProcessingStep">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      <xs:element name="processingIllustration" type="AMBlobReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="completeDate" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="primaryContact" type="Person" minOccurs="0" maxOccurs="1" />
      <xs:element name="resultingCondition" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessingSteps">
    <xs:sequence>
      <xs:element name="ProcessingStep" type="ProcessingStep" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>



  <!-- ===================================================== -->
  <!-- BUILD PROCESS -->
  <!-- ===================================================== -->

  <xs:complexType name="AM-Process">
    <xs:choice>
      <xs:element name="LaserPowderBedFusion">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PowderBedFusion-instrument" type="Instrument" minOccurs="0" />
            <xs:element name="BuildEnviroment" type="BuildEnvironmentType" />
            <xs:element name="BuildParameters" type="BuildParametersType" minOccurs="0" />
            <xs:element name="OtherProcessingFiles" type="DigitalArtifact" minOccurs="0" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="BuildEnvironmentType">
    <xs:sequence>
      <xs:element name="BuildAtmosphere" type="AtmosphereType" />
      <xs:element name="OxygenContent" type="OxygenContentType" minOccurs="0" />
      <xs:element name="GasFlow" type="GasFlowType" minOccurs="0" />
      <xs:element name="ReCoating" type="ReCoatingType" minOccurs="0" />
      <xs:element name="BuildEnvironmentNotes" type="Note" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReCoatingType">
    <xs:sequence>
      <xs:element name="ReCoaterType" type="ReCoaterType" />
      <xs:element name="ReCoaterMaterial" type="ReCoaterMaterialType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuildParametersType">
    <xs:sequence>
      <xs:element name="Laser" type="LaserType" />
      <xs:element name="SolidLayers" type="SolidLayerType" />
      <xs:element minOccurs="0" name="ScanGeometry" type="ScanGeometryType" />
      <xs:element minOccurs="0" name="DigitalScanCommandFileID" type="DigitalArtifact" />
      <xs:element name="note" type="Note" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LaserType">
    <xs:sequence>
      <xs:element name="LaserType" type="xs:string" minOccurs="0" />
      <xs:element name="NominalLaserPower" type="xs:float" />
      <xs:element name="LaserPowerValueUnit" type="xs:string" />
      <xs:element name="NominalScanningSpeedValue" type="xs:float" />
      <xs:element name="ScanningSpeedUnit" type="xs:string" />
      <xs:element name="NominalLaserSpotSize" type="xs:float" />
      <xs:element name="NominalLaserSpotSize_MeasureDefinition" type="NominalLaserSpotSize_MeasureDefinitionType" />
      <xs:element name="SpotSizeUnit" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SolidLayerType">
    <xs:sequence>
      <xs:element name="LayerThickness" type="xs:float" minOccurs="0" />
      <xs:element name="ThicknessUnits" type="LengthUnit" minOccurs="0" />
      <xs:element minOccurs="0" name="TotalNumberLayers" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScanGeometryType">
    <xs:sequence>
      <xs:element name="ScanType" type="ScanType" />
      <xs:element minOccurs="0" name="StripeWidth" type="StripeWidthType" />
      <xs:element minOccurs="0" name="HatchingSpacing" type="HatchSpacingType" />
      <xs:element name="RotationBetweenLayers" type="RotationLayersType" />
      <xs:element minOccurs="0" name="ScanGeometryNotes" type="Note" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StripeWidthType">
    <xs:sequence>
      <xs:element name="StripeWidthValue" type="xs:float" />
      <xs:element name="StripeWidthUnits" type="LengthUnit" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HatchSpacingType">
    <xs:sequence>
      <xs:element name="HatchSpacingValue" type="xs:float" />
      <xs:element name="HatchSpacingUnit" type="LengthUnit" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RotationLayersType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RotationAngleBetweenLayers" type="xs:string">
      </xs:element>
      <xs:element minOccurs="0" name="RotationAngleUnit" type="RotationAngleUnit" />
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="AMSample">
    <xs:sequence>
      <xs:element name="SampleID" type="SampleIDType" />
      <xs:element name="AM2022BuildPlate">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BuildID" type="xs:string" />
            <xs:element name="BuildPID" type="xs:anyURI" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="RelatedSamples">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SampleName" type="xs:string" />
            <xs:element name="SamplePID" type="xs:anyURI" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SampleImage" type="DigitalArtifact" />
      <!-- <xs:element name="SampleOwner" type="Person" minOccurs="0" /> -->
      <xs:element maxOccurs="unbounded" minOccurs="0" name="SampleLocation" type="xs:string" />
      <!-- <xs:element name="PostProcessing" type="char:ThermalConditions" maxOccurs="unbounded" minOccurs="0" /> -->
      <xs:element name="SamplePreparation" type="SamplePreparationMethods" maxOccurs="unbounded" minOccurs="0" />
      <xs:element name="SamplePurpose">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="XRD Residual Strain" />
            <xs:enumeration value="Neutron Residual Strain" />
            <xs:enumeration value="Deflection" />
            <xs:enumeration value="XRCT" />
            <xs:enumeration value="APS Microstructure" />
            <xs:enumeration value="As-built Lab Microstructure" />
            <xs:enumeration value="Annealed Lab Mircrostructure " />
            <xs:enumeration value="Confocal Microscopy" />
            <xs:enumeration value="Cross-Section characterization" />
            <xs:enumeration value="Macroscale Tensile Tests" />
            <xs:enumeration value="Mini Tensile Test" />
            <xs:enumeration value="Meso Tensile Test" />
            <xs:enumeration value="Compression Tests" />
            <xs:enumeration value="Serial Sectioning" />
            <xs:enumeration value="Other" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SampleNote" type="Note" maxOccurs="unbounded" minOccurs="0" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PrintingNotes" type="Note" />
    </xs:sequence>
    <xs:attribute name="persistid">
      <xs:simpleType>
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SamplePreparationMethods">
    <xs:sequence>
      <xs:element name="Sectioning" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SectioningInstrument" type="Instrument" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mounting" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Conductive" />
            <xs:enumeration value="Non-Conductive" />
            <xs:enumeration value="Epoxy" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SampleOrientation" minOccurs="0" type="xs:string" />
      <xs:element name="Polishing-Etching" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="NotEtched" type="PolishingConditions" />
            <xs:element name="Etched">
              <xs:complexType>
                <xs:all>
                  <xs:element name="SurfaceFinish" type="PolishingConditions" />
                  <xs:element name="EtchType" type="EtchedConditions" />
                </xs:all>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EtchedConditions">
    <xs:sequence>
      <xs:element name="Etchant" type="xs:string" />
      <xs:element name="EtchTime" type="TimeType" />
      <xs:element name="EtchingNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PolishingConditions">
    <xs:sequence>
      <xs:element name="PolishingMedia" type="xs:string" />
      <xs:element name="FinalPolish" type="xs:string" />
      <xs:element name="PolishingNote" type="Note" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SampleIDType">
    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <label>Label Notation: BenchMarkID-Material-Build Machine-Build Number-Part Number-Leg Number-Wall Number-measurement class eg. AMB2022-718-AMMT-B1-PX-LY-WZ-MS, with X = 1, 2, 3, 4; L = 1,…, 12; W = 1, 2, 3, 4 PX and W numbered from laminar flow side of build plate B = Build, P = Part, L = Leg, W = WallMaterial build machine (AMMT or CBM) measurement class (IS, RS, DS, MS) subdivision for measurement class. If the sample is a guide wing then AMB2022-718-AMMT-B1-GA, with A = 1, 2 GA numbered from
              laminar flow side of build plate
            </label>
            <placeholder>eg AMB2022-01-718-AMMT-B1-P2-L2-W3 or AMB2022-718-AMMT-B1-GA-MS
            </placeholder>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="BenchMarkID">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AMBench2022-01" />
            <xs:enumeration value="AMBench2022-02" />
            <xs:enumeration value="AMBench2022-03" />
            <xs:enumeration value="AMBench2022-04" />
            <xs:enumeration value="AMBench2022-05" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="1" name="BuildNumber" type="xs:integer" />
      <xs:element name="PartType" type="BuildPart">
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AltName" type="xs:string" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Alt-ID" type="xs:string" />
      <xs:element name="CreationDate" type="xs:date" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <!-- ============================================== -->
  <!-- BUILD Process -->
  <!-- ============================================== -->
  <xs:complexType name="AMBuildProcess">
    <xs:sequence>
      <xs:element name="AMBuildProcessType" type="AM-Process" />
      <xs:element minOccurs="0" name="powder" type="xs:anyURI" />
      <xs:element name="buildPlateID" type="xs:string" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <label>PID of the AMBuildPlate document with metadata about the result of this build process.</label>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="BuildPlateImage" type="DigitalArtifact" />
      <xs:element maxOccurs="unbounded" minOccurs="0" name="buildNote" type="BuildNote" />
      <xs:element minOccurs="0" name="PrintingNotes" type="Note" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BuildNote">
    <xs:sequence>
      <xs:element name="Note" type="Note" />
      <xs:element name="Downloadfiles" type="DigitalArtifact" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>